Repository boostcampwm-2021/iOS07-DoolDa, pull requests merged in 2021-11, with the labels that each got.

#94 GetMyIdUseCase 개선
  Doolda/Doolda/Domain/UseCases/GetMyIdUseCase.swift
Labels: UseCase, ♻️ Refactor

#102 RefreshUserUseCase 구현
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/UseCases/RefreshPairIdUseCase.swift
  Doolda/Doolda/Domain/UseCases/RefreshUserUseCase.swift
Labels: UseCase, ♻️ Refactor

#106 PairingViewModel에서 사용하는 프로퍼티 명 최신화
  Doolda/Doolda/Presentation/ViewModels/PairingViewModel.swift
Labels: ViewModel, ♻️ Refactor

#101 PairUserUseCase 작성
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/UseCases/GeneratePairIdUseCase.swift
  Doolda/Doolda/Domain/UseCases/PairUserUseCase.swift
Labels: UseCase, ♻️ Refactor

#139 PageRepository 프로토콜 정의
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Doolda/Doolda/Domain/Interfaces/PageRepositoryProtocol.swift
Labels: Repository, 🤝 Protocol

#146 RawPageRepository 프로토콜 정의
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/Interfaces/RawPageRepositoryProtocol.swift
Labels: Repository, 🤝 Protocol

#125 EditPageVIewModel의 프로토콜 정의
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Presentation/ViewModels/EditPageViewModel.swift
Labels: ViewModel, 🤝 Protocol

#154 API의 patchUserDocuement사용시 pairDocument를 사용하는 현상 수정
  Doolda/Doolda/Support/Constants/API.swift
Labels: 🐛 Bug

#171 firebase sdk 관련 삭제
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Application/AppDelegate.swift
  Doolda/Doolda/Data/DataTransferObjects/FirebaseDocument.swift
  Doolda/Doolda/Data/Interfaces/FirebaseNetworkProtocol.swift
  Doolda/Doolda/Service/Networks/FirebaseNetworkService.swift
Labels: 🚨 Fix

#169 (#149) 🤝: ImageUseCase 프로토콜 정의
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/UseCases/ImageUseCase.swift
Labels: UseCase

#200 ObservableObject를 걷어내고 스스로 변경을 publish해주도록 변경
  Doolda/Doolda/Domain/Entities/ComponentEntity.swift
  Doolda/Doolda/Domain/Entities/TextComponentEntity.swift
  Doolda/Doolda/Domain/UseCases/EditPageUseCase.swift
Labels: UseCase, Entity, 🚨 Fix

#204 데모용 임시 PageRepository 구현
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Data/Repositories/PageRepository.swift
Labels: ✨ Feature, Repository

#267 GetPageUseCase Protocol 정의
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/UseCases/GetPageUseCase.swift
Labels: 🤝 Protocol

#266 CheckTurnUseCase Protocol 정의
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/UseCases/CheckTurnUseCase.swift
Labels: 🤝 Protocol

#265 EditPageUseCase TextComponent에 관한 Protocol 추가 정의
  Doolda/Doolda/Domain/UseCases/EditPageUseCase.swift
Labels: 🤝 Protocol

#269 DiaryViewCoordinator 프로토콜 정의
  Doolda/Doolda/Presentation/Interfaces/DiaryViewCoordinatorProtocol.swift
Labels: Coordinator, 🤝 Protocol

#302 DisplayPageUseCase 구현
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/UseCases/GetRawPageUseCase.swift
Labels: ✨ Feature, UseCase

#298 CheckMyTurnUseCase 구현
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/UseCases/CheckMyTurnUseCase.swift
  Doolda/Doolda/Domain/UseCases/CheckTurnUseCase.swift
Labels: ✨ Feature, UseCase

#300 EditPageUseCase 구현
  Doolda/Doolda/Domain/UseCases/EditPageUseCase.swift
Labels: ✨ Feature, UseCase

#305 GetPageUseCase 구현
  Doolda/Doolda/Domain/UseCases/GetPageUseCase.swift
Labels: ✨ Feature, UseCase

#308 backgroundTypePickerViewCell BorderColor 수정
  Doolda/Doolda/UI/ViewControllers/BackgroundTypePickerViewController.swift
Labels: View

#319 친구가 작성한 페이지에서 스티커가 보이지 않던 현상 수정
  Doolda/Doolda/UI/Views/DiaryPageView.swift
Labels: 🚨 Fix

#343 EditPageUseCase 테스트 정상화
  Doolda/Tests/EditPageUseCaseTest/EditPageUseCaseTest.swift
Labels: UseCase, 🚨 Fix, 🧪 Test

#350 다이어리페이지에 나오는 text 잘림현상 수정
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/DiaryScene/DiaryCollectionViewCell.swift
Labels: 🚨 Fix

#360 저장된 페이지의 스티커 비율 수정
  Doolda/Doolda/DiaryScene/DiaryCollectionViewCell.swift
Labels: 🚨 Fix, 🐛 Bug

#365 photo frame 푸쉬 방식 수정
  Doolda/Doolda/EditPageScene/EditPageViewCoordinator.swift
Labels: 🚨 Fix, 🐛 Bug

#373 바텀시트 그림자 수정
  Doolda/Doolda/Common/BottomSheetViewController.swift
Labels: ♻️ Refactor

#380 DiaryViewController에서 fontColor적용 안되는 것 수정
  Doolda/Doolda/DiaryScene/DiaryCollectionViewCell.swift
Labels: 🚨 Fix

#381 EditPageUseCaseProtocol의 savePage 수정
  Doolda/Doolda/Domain/UseCases/EditPageUseCase.swift
  Doolda/Doolda/EditPageScene/EditPageViewModel.swift
Labels: UseCase, 🤝 Protocol

#383 pageDetailViewModel 프로토콜 작성
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/PageDetailScene/PageDetailViewModel.swift
Labels: ViewModel, 🤝 Protocol

#413 바텀시트 그림자 디자인 수정
  Doolda/Doolda/Common/BottomSheetViewController.swift
Labels: View, ♻️ Refactor

#422 혼자 사용하는 유저는 노티피케이션을 보이지 않도록 개선
  Doolda/Doolda/DiaryScene/DiaryViewModel.swift
  Doolda/Doolda/EditPageScene/EditPageViewModel.swift
  Doolda/Doolda/PairingScene/PairingViewModel.swift
Labels: ViewModel, ♻️ Refactor

#430 페이지 편집시, 화면 갱신이 제대로 안되던 버그를 수정
  Doolda/Doolda/Domain/Entities/StickerPackEntity.swift
  Doolda/Doolda/PageDetailScene/PageDetailViewController.swift
Labels: 🚨 Fix, 🐛 Bug

#434 스티커가 팩에서 튕겨 나가는 현상을 수정
  Doolda/Doolda/EditPageScene/StickerPickerScene/PackedStickerCollectionViewCell.swift
Labels: 🚨 Fix, 🐛 Bug

#439 (#438) ♻️: 새로고침시 네트워크 요청에 1초 딜레이 추가
  Doolda/Doolda/DiaryScene/DiaryViewModel.swift
Labels: ViewModel, ♻️ Refactor

#448 페이지 저장중 로딩화면에서 에러 발생에 대한 처리 추가
  Doolda/Doolda/EditPageScene/EditPageViewController.swift
Labels: ♻️ Refactor

#458 🧪: editPageUseCaseTest Dummy 분리
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda/Domain/UseCases/EditPageUseCase.swift
  Doolda/Tests/Dummies/DummyError.swift
  Doolda/Tests/Dummies/DummyImageUseCase.swift
  Doolda/Tests/Dummies/DummyPageRepository.swift
  Doolda/Tests/Dummies/DummyPairRepository.swift
  Doolda/Tests/Dummies/DummyRawPageRepository.swift
  Doolda/Tests/EditPageUseCaseTest/EditPageUseCaseTest.swift
  Doolda/Tests/GetMyIdUseCaseTest/GetMyIdUseCaseTest.swift
Labels: 🧪 Test

#471 RegisterUserUseCaseTest 추가
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda.xcodeproj/xcshareddata/xcschemes/Doolda.xcscheme
  Doolda/Tests/RegisterUserUseCaseTest/RegisterUserUseCaseTest.swift
Labels: UseCase, 🧪 Test

#485 FirebaseMessageUseCaseTest 추가
  Doolda/Doolda.xcodeproj/project.pbxproj
  Doolda/Doolda.xcodeproj/xcshareddata/xcschemes/Doolda.xcscheme
  Doolda/Tests/Dummies/DummyFirebaseMessageRepository.swift
  Doolda/Tests/FirebaseMessageUseCaseTest/FirebaseMessageUseCaseTest.swift
Labels: UseCase, 🧪 Test
