Repository boostcampwm-2021/iOS07-DoolDa, pull requests merged in 2021-12, with the labels that each got.

#495 폰트 피커의 높이가 0으로 잡히던 현상 수정
  Doolda/Doolda/SettingsScene/FontPickerViewController.swift
Labels: 🚨 Fix

#500 GetMyIdUseCase에서 uid를 이용하도록 변경
  Doolda/Doolda/Domain/Interfaces/UseCases/GetMyIdUseCaseProtocol.swift
  Doolda/Doolda/Domain/UseCases/GetMyIdUseCase.swift
Labels: UseCase, ♻️ Refactor

#502 SettingsView 개선
  Doolda/Doolda/SettingsScene/SettingsViewController.swift
  Doolda/Doolda/SettingsScene/SettingsViewModel.swift
Labels: ✨ Feature, View, ViewModel, ♻️ Refactor
